<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.senacor.com/mdsd/hh/splitgreeter/persons/Persons" 
       class = "com.senacor.mdsd.hh.splitgreeter.persons.persons.PersonsPackage"
       genModel = "model/generated/Persons.genmodel" /> 
	
  </extension>



</plugin>
