<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.senacor.com/mdsd/hh/generator/greeter/Greeter" 
       class = "com.senacor.mdsd.hh.generator.greeter.greeter.GreeterPackage"
       genModel = "model/generated/Greeter.genmodel" /> 
	
  </extension>



</plugin>
