<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.senacor.com/hh/person01/Person01" 
       class = "com.senacor.hh.person01.person01.Person01Package"
       genModel = "model/generated/Person01.genmodel" /> 
	
  </extension>



</plugin>
